# ArenaLake portal dependencies

fastapi
uvicorn
python-multipart

# Container management

docker

# Object storage / S3-compatible APIs
boto3
fsspec
s3fs

# Templates and web rendering
jinja2

# Data processing
pandas
pyarrow
pyspark
apscheduler

# Auth / security
passlib
python-jose[cryptography]==3.3.0
pyotp==2.9.0
qrcode[pil]==7.4.2

# ORM / validation
pydantic
sqlalchemy

typing
jose

httpx