<!DOCTYPE html>
<html>

<head>
    <title>ArenaLake - Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="card">
        <h2>🚀 ArenaLake</h2>
        <p style="color: #8b949e; font-size: 0.9em; margin-bottom: 25px;">Plataforma Acadêmica de Big Data</p>
        <form action="/login" method="post">
            <input type="text" name="usuario" placeholder="Nome de usuário (ex: heitor)" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar no Workspace</button>
        </form>
    </div>
</body>

</html>